<h1>Hello World</h1>

<ul id="stuff">
  <% @stuff.each_with_index do |stuff, index| %>
    <li class="thing" id="thing_<%=index+1%>">
      <div class="title" id="title_<%=index+1%>">
        #<%= index + 1 %>: <%= stuff.title %>
      </div>
      <div class="text" id="text_<%=index+1%>">
        <%= stuff.text %>
      </div>
    </li>
  <% end %>
</ul>

<br />

  <%= link_to "Home", root_path %>